<div class="result-content">
  <h2>残念！</h2>

  <%= image_tag 'result/failure.png', size: '375x375' %>

  <h3>想像力が足りないよ？</h3>
  <%= link_to 'レシピを確認する', recipe_path(@menu), class: 'waves-effect waves-light btn-large main-button' %>
</div>
