<div class="result-content">
  <h2>タイムアップ！</h2>

  <%= image_tag 'result/timeup.png', size: '375x375' %>

  <h3>料理は完成しましたか？</h3>
  <%= link_to 'レシピを確認する', recipe_path(@menu), class: 'waves-effect waves-light btn-large main-button' %>
</div>