@import "materialize/components/color";
$primary-color: color("teal", "accent-3") !default;
$secondary-color: color("cyan", "base") !default;
@import 'materialize';
@import 'material_icons';


.main-button {
  color: white !important;
  background-color: #ff5252;
}

li {
  input[type="checkbox"] {
    opacity: 1 !important;
  }
}