@import "materialize/components/color";
$primary-color: color("teal", "accent-3") !default;
$secondary-color: color("cyan", "base") !default;
@import 'materialize';
@import 'material_icons';

// 共通
.main-button {
  color: white !important;
  background-color: #ff5252;
}


//食品選択ページ
.food-select-content {
  background: image-url('back.png');
  background-size: contain;
  background-repeat: repeat;
  padding-bottom: 20px;
}

.image-content {
  position: relative;
}

.image-btn-group {
  position: absolute;
  left: 9px;
  bottom: 11px;

  .image-btn {
    font-size: 18px !important;
    padding: 0 1em !important;
  }

  .ano-image-btn{
    background-color: #CBCBCB;
    color: #606060 !important;
    font-size: 14px !important;
  }
}

.select-content {
  margin: 13px;
  color: #864026 !important;
  .title {
    font-size: 30px;
    line-height: 110%;
    margin: 1.14rem 0 0.912rem 0;
    font-weight: bold;
  }
  p {
    font-weight: bold;
  }

  .content-name {
    font-size: 17px;
    margin: 30px 0px 0px 0px;
  }
  .tool-badge {
    border: 1.5px solid #606060;
    border-radius: 20px;
    padding: 3px 15px;
    background-color: white;
  }
  .person-count {
    font-size: 13px;
  }
  .collection {
    border: none;
    .collection-item {
      position: relative;
      padding: 5px 20px;
    }
    .quantity {
      position: absolute;
      right: 13px;
    }
  }
}


// 食材購入促す画面
.preperation-content {
  color: #864026 !important;
  background: image-url('back.png');
  background-size: contain;
  background-repeat: repeat;
  padding: 10px 0 10px 0;
  .content-name {
    font-size: 25px;
    text-align: center;
    margin-top: 10px;
  }
  .title {
    margin-bottom: 4px;
  }
  .cook-time {
    text-align: center;
    margin-top: 0;
  }
  .explain {
    margin-bottom: 20px;
  }
  .material-memo {
    margin: 0 13px;
    background-color: white;
    padding-top: 5px;
    .collection {
      border: none;
    }
    .content-name {
      font-size: 20px;
      text-align: left;
      padding-left: 13px;
      .person-count {
        font-size: 13px;
      }
    }
    .collection-item {
      position: relative;
      padding: 5px 20px;
      height: 32px;
    }
    .quantity {
      position: absolute;
      right: 13px;
    }
    .material {
      position: absolute;
      left: 40px;
    }
  }
  .material-button-gruop {
    margin: 13px;
    .cook-start {
      width: 349px;
      margin-bottom: 10px;
    }
    .back{
      width: 349px;
      background-color: #CBCBCB;
      color: #606060 !important;
      font-size: 14px !important;
    }
    .left {
      margin-right: 0;
    }
  }
}
li {
  input[type="checkbox"] {
    margin-top: 4px;
    opacity: 1 !important;
    pointer-events: all !important;
  }
}

// 調理中の画面
.cooking-content {
  color: #864026 !important;
  background: image-url('back.png');
  background-size: contain;
  background-repeat: repeat;
  padding: 10px 0 53px 0;
  text-align: center;
  h4 {
    font-size: 20px;
    margin-bottom: 2px;
  }
  h1 {
    font-size: 80px;
    margin-top: 0;
  }
  .cooking-image {
    position: relative;
  }
  .top-btn {
    width: 185px;
    color: #ff5252;
    background-color: white;
    padding: 0 20px;
    .left {
      margin-right: 0;
    }
  }
  .top-btn-under-line {
    border-bottom: 4px solid #ff5252;
  }
  .image-btn {
    width: 360px;
    position: absolute;
    left: 8px;
    bottom: 11px;
  }
  .modal {
    color: white;
    margin-top: 131px;
    width: 375px;
    height: 375px;
    opacity: 0.8 !important;
    background-color: black;
    .collection {
      color: black;
    }
    .cancel {
      margin-top: 5px;
      margin-left: 280px;
      color: #ff5252;
      font-size: 30px;
    }
    .modal-content{
      margin-top: 5px;
      padding: 10px;
    }
  }
  .hidden {
    display: none;
  }
  .give-up {
    margin-top: 20px;
  }
  .give {
    color: #864026;
    text-decoration: underline;
  }
}

// 結果
.result-content {
  background: image-url('back.png');
  background-size: contain;
  background-repeat: repeat;
  padding: 20px 0 70px 0;
  text-align: center;
  color: #864026;
  h2 {
    font-size: 45px;
    font-weight: bold;
  }
  h3 {
    font-size: 25px;
  }
  .btn-large {
    margin-top: 10px;
    width: 350px;
    font-size: 20px;
  }
}

.recipe-content {
  background: image-url('back.png');
  background-size: contain;
  background-repeat: repeat;
  text-align: center;
  padding: 20px 0 30px 0;
  color: #864026;
  width: 375px;
  .r-content {
    padding: 0 13px 0 13px;
  }
  .recipe {
    text-align: left;
    margin: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    p {
      margin: 3px;
    }
    strong {
      font-size: 18px;
    }
  }

  p {
    word-wrap: break-word;
    font-weight: bold;
  }
  h2 {
    font-size: 35px;
    font-weight: bold;
  }

  h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 20px;
  }

  .btn {
    margin-top: 10px;
    width: 350px;
    font-size: 20px;
  }

  .umaku {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .twitter-image {
    margin-top: 25px;
    margin-bottom: 20px;
  }
}

