@import "materialize/components/color";
$primary-color: color("teal", "accent-3") !default;
$secondary-color: color("cyan", "base") !default;
@import 'materialize';
@import 'material_icons';

// 共通
.main-button {
  color: white !important;
  background-color: #ff5252;
}


//食品選択ページ
.food-select-content {
  background: image-url('back.png');
  background-size: contain;
  background-repeat: repeat;
  padding-bottom: 20px;
}

.image-content {
  position: relative;
}

.image-btn-group {
  position: absolute;
  left: 9px;
  bottom: 11px;

  .image-btn {
    font-size: 18px !important;
    padding: 0 1em !important;
  }

  .ano-image-btn{
    background-color: #CBCBCB;
    color: #606060 !important;
    font-size: 14px !important;
  }
}

.select-content {
  margin: 13px;
  color: #864026 !important;
  .title {
    font-size: 30px;
    line-height: 110%;
    margin: 1.14rem 0 0.912rem 0;
    font-weight: bold;
  }
  p {
    font-weight: bold;
  }

  .content-name {
    font-size: 17px;
    margin: 30px 0px 0px 0px;
  }
  .tool-badge {
    border: 1.5px solid #606060;
    border-radius: 20px;
    padding: 3px 15px;
    background-color: white;
  }
  .person-count {
    font-size: 13px;
  }
  .collection {
    border: none;
    .collection-item {
      position: relative;
      padding: 5px 20px;
    }
    .quantity {
      position: absolute;
      right: 13px;
    }
  }
}


// 食材購入促す画面
.preperation-content {
  color: #864026 !important;
  background: image-url('back.png');
  background-size: contain;
  background-repeat: repeat;
  padding: 10px 0 10px 0;
  .content-name {
    font-size: 25px;
    text-align: center;
    margin-top: 10px;
  }
  .title {
    margin-bottom: 4px;
  }
  .cook-time {
    text-align: center;
    margin-top: 0;
  }
  .explain {
    margin-bottom: 20px;
  }
  .material-memo {
    margin: 0 13px;
    background-color: white;
    padding-top: 5px;
    .collection {
      border: none;
    }
    .content-name {
      font-size: 20px;
      text-align: left;
      padding-left: 13px;
      .person-count {
        font-size: 13px;
      }
    }
    .collection-item {
      position: relative;
      padding: 5px 20px;
      height: 32px;
    }
    .quantity {
      position: absolute;
      right: 13px;
    }
    .material {
      position: absolute;
      left: 40px;
    }
  }
  .material-button-gruop {
    margin: 13px;
    .cook-start {
      width: 349px;
      margin-bottom: 10px;
    }
    .back{
      width: 349px;
      background-color: #CBCBCB;
      color: #606060 !important;
      font-size: 14px !important;
    }
    .left {
      margin-right: 0;
    }
  }
}
li {
  input[type="checkbox"] {
    margin-top: 4px;
    opacity: 1 !important;
    pointer-events: all !important;
  }
}